@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.bunny.net/css?family=lexend:500|martian-mono:500|merriweather:700);

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {@apply p-3 text-lg bg-cbase text-ctext;}
b, strong { @apply font-bold; }
i, em { @apply italic; }
code { @apply p-1 my-1 font-mono rounded-lg bg-ccrust; }
aside {@apply text-sm text-csubtext1; }
img { @apply select-none; }
ol { @apply list-inside text-left list-roman; }
ul { @apply list-disc list-inside text-left; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.link { @apply inline-block relative border-b-0 border-cpeach; }
.link::after {
  content: '';
  @apply absolute bottom-0 left-0 w-0 h-[2px] bg-cpeach transition-all duration-300;
}
.nolink { @apply transition-none;}
.link:hover::after { @apply w-full; }
.link2 { @apply inline-block relative underline decoration-cpeach decoration-2 hover:no-underline; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3 { @apply p-1 my-1 text-3xl; }
h4, h5 { @apply p-1 my-1 text-2xl; }
h6 { @apply p-1 my-1 text-xl; }


/* Bloggin Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before { content: "js"; @apply bg-cyellow text-ccrust; }
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before { content: 'yaml'; @apply bg-cred text-ctext; }
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before { content: 'shell'; @apply bg-cgreen text-ctext; }
.highlight pre code[class*='language-json']::before{ content: 'json'; @apply bg-csky text-ccrust; }
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before { content: 'py'; @apply bg-cblue text-cyellow; }
.highlight pre code[class*='language-css']::before{ content: 'css'; @apply bg-csky text-ccrust; }
.highlight pre code[class*='language-go']::before{ content: 'Go'; @apply bg-csapphire text-cblue; }
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{ content: 'Markdown'; @apply bg-cblue text-ctext; }

body{ @apply block m-8; }
::selection { @apply bg-cpeach text-ccrust; }
hr { @apply my-1 border-t-8 border-dotted border-cmauve; }
blockquote { @apply pl-4 m-0 border-l-2 border-cgreen text-csubtext1; }
a { @apply link; }
article a { @apply link2; }
ul ul, ul ol, ol ul, ol ol { @apply pl-8; }
img { @apply my-1 w-full border-2 border-solid border-ctext; }

figure { @apply box-border inline-block m-0 w-full sm:py-2; }
figure img { @apply max-h-32; }
figure h4 { @apply mt-0 mr-0 mb-1 ml-0 text-base; }
figure h4::before { content: '↳ '; }

code { @apply p-1 bg-cmantle; }
pre { @apply overflow-x-auto p-1 leading-loose rounded-xl bg-cmantle; }
pre code { @apply p-0 bg-transparent text-inherit; }

.content { @apply px-0 py-1 mx-auto mb-4 max-w-3xl break-words; }

header { @apply flex flex-wrap justify-between mx-1 my-0 leading-10; }
header .main { @apply text-2xl; }
h1, h2, h3, h4, h5, h6 { @apply my-4; }

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before { @apply text-cpeach;}

article h1::before { @apply text-cpeach; content: '# '; }
article h2::before { @apply text-cpeach; content: '## '; }
article h3::before { @apply text-cpeach; content: '### '; }
article h4::before { @apply text-cpeach; content: '#### '; }
article h5::before { @apply text-cpeach; content: '##### '; }
article h6::before { @apply text-cpeach; content: '###### '; }

.meta { @apply tracking-tight text-coverlay2; }
.toc { @apply inline-block px-10 pt-10 rounded-md bg-cmantle text-ctext; }
footer { @apply flex items-center px-0 py-2 mt-8 border-t-2 border-dotted border-cmauve; }
.soc { @apply flex items-center border-b-0; }
.border { @apply mx-1 border-2; }
.footer-info {@apply text-csubtext1; }
.title h1 { @apply mb-0; }

time { @apply text-csubtext0; }
article .title { @apply mb-1; }
article { @apply leading-relaxed; }


.callout { @apply p-1 bg-csapphire text-ctext; }
.callout p { @apply m-0 font-mono; }
.callout a { @apply border-b-2 border-ctext; }
.callout a:hover { @apply bg-ctext text-csapphire; }

.site-description { @apply flex justify-between; }

.tags li::before{ content: "🏷 "; }
.tags a{ @apply border-b-2 border-cpeach; }
.tags a:hover{ @apply text-ccrust bg-cblue; }
svg{ @apply max-h-4; }
.soc:hover{ @apply text-cmantle; }
.draft-label{ @apply p-1 ml-2 no-underline rounded-md text-cmauve bg-clavender; }
.highlight { 
    @apply relative;
    -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] { -webkit-overflow-scrolling: touch; }
.highlight pre code[class*="language-"]::before { @apply absolute top-0 right-4 p-1 text-sm tracking-wide text-right uppercase rounded-t-none rounded-r-none rounded-l-md bg-cmantle rounded-s-md text-ctext; }

table { @apply border-collapse border-spacing-0; }
table th{ @apply px-3 py-2 text-lg border-2 border-coverlay2; }
table td{ @apply px-3 py-2 border-2 border-coverlay2; }


/* code blocks */
pre {
  @apply my-4;
  .c .hll, .cm, .cp, .c1, .cs { @apply text-csubtext1; }
  /* Comment */
  .err { @apply text-cred; }
  /* Error */
  .k { @apply text-cmauve; }
  /* Keyword */
  .l { @apply text-cmauve; }
  /* Literal */
  .n { @apply text-ctext; }
  /* Name */
  .o { @apply text-csky; }
  /* Operator */
  .p { @apply text-cred; }
  /* Punctuation */
  .ge { @apply italic; }
  /* Generic.Emph */
  .gs { @apply font-bold; }
  /* Generic.Strong */
  .kc { @apply text-cblue; }
  /* Keyword.Constant */
  .kd { @apply text-csapphire; }
  /* Keyword.Declaration */
  .kn { @apply text-cmauve; }
  /* Keyword.Namespace */
  .kp { @apply text-cpink; }
  /* Keyword.Pseudo */
  .kr { @apply text-cred; }
  /* Keyword.Reserved */
  .kt { @apply text-cmauve; }
  /* Keyword.Type */
  .ld { @apply text-cpeach; }
  /* Literal.Date */
  .m { @apply text-cpeach; }
  /* Literal.Number */
  .s { @apply text-cgreen; }
  /* Literal.String */
  .na { @apply text-cblue; }
  /* Name.Attribute */
  .nb { @apply text-cpeach; }
  /* Name.Builtin */
  .nc { @apply text-cmauve; }
  /* Name.Class */
  .no { @apply text-csky; }
  /* Name.Constant */
  .nd { @apply text-cblue; }
  /* Name.Decorator */
  .ni { @apply text-cpeach; }
  /* Name.Entity */
  .ne { @apply text-cgreen; }
  /* Name.Exception */
  .nf { @apply text-cblue; }
  /* Name.Function */
  .nl { @apply text-ctext; }
  /* Name.Label */
  .nn { @apply text-ctext; }
  /* Name.Namespace */
  .nx { @apply text-cgreen; }
  /* Name.Other */
  .py { @apply text-ctext; }
  /* Name.Property */
  .nt { @apply text-cred; }
  /* Name.Tag */
  .nv { @apply text-ctext; }
  /* Name.Variable */
  .ow { @apply text-cred; }
  /* Operator.Word */
  .w { @apply text-ctext; }
  /* Text.Whitespace */
  .mf { @apply text-cmauve; }
  /* Literal.Number.Float */
  .mh { @apply text-cmauve; }
  /* Literal.Number.Hex */
  .mi { @apply text-cmauve; }
  /* Literal.Number.Integer */
  .mo { @apply text-cmauve; }
  /* Literal.Number.Oct */
  .sb { @apply text-cyellow; }
  /* Literal.String.Backtick */
  .sc { @apply text-cyellow; }
  /* Literal.String.Char */
  .sd { @apply text-cyellow; }
  /* Literal.String.Doc */
  .s2 { @apply text-cgreen; }
  /* Literal.String.Double */
  .se { @apply text-cmauve; }
  /* Literal.String.Escape */
  .sh { @apply text-cyellow; }
  /* Literal.String.Heredoc */
  .si { @apply text-cyellow; }
  /* Literal.String.Interpol */
  .sx { @apply text-cyellow; }
  /* Literal.String.Other */
  .sr { @apply text-cyellow; }
  /* Literal.String.Regex */
  .s1 { @apply text-cyellow; }
  /* Literal.String.Single */
  .ss { @apply text-cyellow; }
  /* Literal.String.Symbol */
  .bp { @apply text-ctext; }
  /* Name.Builtin.Pseudo */
  .vc { @apply text-ctext; }
  /* Name.Variable.Class */
  .vg { @apply text-ctext; }
  /* Name.Variable.Global */
  .vi { @apply text-ctext; }
  /* Name.Variable.Instance */
  .il { @apply text-cmauve; }
  /* Literal.Number.Integer.Long */
  .gh {}
  /* Generic Heading & Diff Header */
  .gu { @apply text-csubtext0; }
  /* Generic.Subheading & Diff Unified/Comment? */
  .gd { @apply text-cred; }
  /* Generic.Deleted & Diff Deleted */
  .gi { @apply text-cgreen; }
  /* Generic.Inserted & Diff Inserted */
}