<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<aside>{{ .Site.Params.Subtitle | .Page.RenderString }}</aside>
					{{- end -}}
				</div>
				<br>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				<ul class="posts">
				{{ range $paginator.Pages }}
					<li class="post">
						<a href="{{ .RelPermalink }}">{{.Title}}</a> <time class="meta">{{ dateFormat ":date_medium" .Date }}</time> {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
					</li>
				
				{{ end }}
				</ul>
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
