@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "flyonui";
@source "../scripts/flyonui.js";
@import url(https://fonts.bunny.net/css?family=lexend:500|martian-mono:500|merriweather:700);

@theme {
  /* fonts */
  --font-sans: "Lexend", "sans-serif";
  --font-serif: "Merriweather", "serif";
  --font-mono: "Martian Mono", "monospace";
}

@plugin "flyonui/theme" {
  name: "catppuccin";
  default: false;
  color-scheme: "catppuccin";

  --color-base-100: #1e1e2e;
  --color-base-200: #181825;
  --color-base-300: #11111b;
  --color-base-content: #cdd6f4;
  --color-primary: #cba6f7;
  --color-primary-content: cdd6f4;
  --color-secondary: #94e2d5;
  --color-secondary-content: #1e1e2e;
  --color-accent: #fab387;
  --color-accent-content: #1e1e2e;
  --color-neutral: #a6e3a1;
  --color-neutral-content: #1e1e2e;
  --color-info: #89dceb;
  --color-info-content: #1e1e2e;
  --color-success: #a6e3a1;
  --color-success-content: #1e1e2e;
  --color-warning: #f9e2af;
  --color-warning-content: #1e1e2e;
  --color-error: #f38ba8;
  --color-error-content: #1e1e2e;

  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "flyonui/theme" {
  name: "rosepine";
  default: false;
  color-scheme: "rosepine";

  --color-base-100: #191724;
  --color-base-200: #1f1d2e;
  --color-base-300: #26233a;
  --color-base-content: #e0def4;
  --color-primary: #ebbcba;
  --color-primary-content: #26233a;
  --color-secondary: #31748f;
  --color-secondary-content: #e0def4;
  --color-accent: #f6c177;
  --color-accent-content: #26233a;
  --color-neutral: #9ccfd8;
  --color-neutral-content: #26233a;
  --color-info: #c4a7e7;
  --color-info-content: #26233a;
  --color-success: #31748f;
  --color-success-content: #e0def4;
  --color-warning: #f6c177;
  --color-warning-content: #26233a;
  --color-error: #eb6f92;
  --color-error-content: #26233a;

  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "flyonui/theme" {
  name: "light";
  default: false;
  color-scheme: "light";

  --color-base-100: #eee;
  --color-base-200: #ddd;
  --color-base-300: #eef;
  --color-base-content: #444;
  --color-primary: #444;
  --color-primary-content: #eee;
  --color-secondary: #444;
  --color-secondary-content: #eee;
  --color-accent: #209fb5;
  --color-accent-content: #eee;
  --color-neutral: #444;
  --color-neutral-content: #eee;
  --color-info: #444;
  --color-info-content: #eee;
  --color-success: #40a02b;
  --color-success-content: #eee;
  --color-warning: #df8e1d;
  --color-warning-content: #eee;
  --color-error: #d20f39;
  --color-error-content: #eee;

  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {@apply p-3 text-lg bg-base-100 text-base-content;}
b, strong { @apply font-bold; }
i, em { @apply italic; }
code { @apply p-1 m-1 font-mono rounded-lg bg-base-300; }
pre { @apply p-2 m-2 font-mono rounded-lg bg-base-300; }
img { @apply select-none; }
hr { @apply border-base-content; }
p { @apply inline; }
fieldset { @apply p-3 rounded-lg border-2 border-accent; }
legend { @apply px-1; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.link2 { @apply inline-block relative underline decoration-accent decoration-2 hover:no-underline; }

/* Posts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-content h1 { @apply text-4xl my-4 text-primary; }
.post-content h2, .post-content h3 { @apply text-3xl my-4 text-accent; }
.post-content h4, .post-content h5, .post-content h6 { @apply text-2xl my-4 text-info; }
.post-content p { @apply block my-4; }
.post-content a { @apply inline-block relative underline decoration-accent decoration-2 hover:no-underline;}

.post-content ul { @apply list-disc; }
.post-content ol { @apply list-decimal; }
.post-content ul, .post-content ol { @apply list-inside text-left; }
.post-content li { @apply pl-4; }

.footnotes { @apply mt-10 border-t-1 border-info pt-2 text-sm; }
.footnotes li { @apply -ml-4; }
.footnotes li p { @apply inline; }
.footnotes li a:last-child { @apply ml-1; }

.post-content blockquote {@apply border-l-4 border-neutral pl-2; }
.task-list-item-checkbox { @apply my-1 checkbox checkbox-primary mr-2; }
.task-list-item { @apply list-none; }

.post_time { @apply text-base-content/70 italic; }

.post-content img { @apply rounded-2xl; }

/* Syntax Highlighting */
.highlight         { @apply bg-base-100 text-base-content; }
.hll               { @apply bg-base-300; }
.c                 { @apply text-neutral; }         /* Comment */
.err               { @apply text-error; }           /* Error */
.k                 { @apply text-primary; }         /* Keyword */
.l                 { @apply text-secondary; }       /* Literal */
.n                 { @apply text-base-content; }    /* Name */
.o                 { @apply text-primary; }         /* Operator */
.p                 { @apply text-base-content; }    /* Punctuation */
.cm                { @apply text-neutral; }         /* Comment.Multiline */
.cp                { @apply text-neutral; }
.c1                { @apply text-neutral; }         /* Comment.Single */
.cs                { @apply text-neutral; }
.gd                { @apply text-error; }           /* Generic.Deleted */
.ge                { @apply italic; }               /* Generic.Emph */
.gr                { @apply text-error; }
.gh                { @apply font-bold; }
.gi                { @apply text-success; }         /* Generic.Inserted */
.go                { @apply text-neutral; }
.gp                { @apply text-info; }
.gs                { @apply font-bold; }
.gu                { @apply text-accent; }
.gt                { @apply text-warning; }
.kc                { @apply text-primary; }
.kd                { @apply text-primary; }
.kn                { @apply text-primary; }
.kp                { @apply text-primary; }
.kr                { @apply text-primary; }
.kt                { @apply text-primary; }         /* Keyword.Type */
.ld                { @apply text-secondary; }
.m                 { @apply text-accent; }          /* Literal.Number */
.s                 { @apply text-success; }         /* Literal.String */
.na                { @apply text-info; }            /* Name.Attribute */
.nb                { @apply text-base-content; }
.nc                { @apply text-info; }
.no                { @apply text-accent; }
.nd                { @apply text-warning; }
.ni                { @apply text-neutral; }
.ne                { @apply text-error; }
.nf                { @apply text-secondary; }       /* Name.Function */
.nl                { @apply text-base-content; }
.nn                { @apply text-neutral; }
.nt                { @apply text-accent; }
.nv                { @apply text-primary; }
.ow                { @apply text-primary; }
.w                 { @apply text-base-content; }
.mf                { @apply text-accent; }
.mh                { @apply text-accent; }
.mi                { @apply text-accent; }
.mo                { @apply text-accent; }
.sb                { @apply text-success; }
.sc                { @apply text-success; }
.sd                { @apply text-success; }
.s2                { @apply text-success; }
.se                { @apply text-warning; }
.sh                { @apply text-success; }
.si                { @apply text-success; }
.sx                { @apply text-success; }
.sr                { @apply text-info; }
.s1                { @apply text-success; }
.ss                { @apply text-success; }
.bp                { @apply text-info; }
.vc                { @apply text-primary; }
.vg                { @apply text-primary; }
.vi                { @apply text-primary; }
.il                { @apply text-accent; }
